.menu {

  height: 30px;

  &_active {
    width: 100%;
  }
  &_active &__toggle {
    display: block; // force display
    z-index: 1;
  }
  &_active &__list {
    display: block;
    position: absolute;
    top: 55px;
    right: -30px;
    left: -30px;
    max-height: 280px;
    border-top: 1px solid #eee;
    background: #fff;
    box-shadow: 0 5px 2px rgba(#000, .2);
  }
  &_active &__item {
    float: none;
    margin: 15px 30px;
    line-height: 26px;
  }

  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    float: left;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    color: #222;
  }
  &__item:after {
    content: ' ';
    display: block;
    margin-bottom: -2px;
    height: 2px;
  }
  &__item_active:after {
    background: #202020;
  }
  &__item:hover:after {
    background: #cc2020;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  &__link:hover {
  }

  &__toggle {
    position: absolute;
    top: -5px;
    right: -5px;
    display: block;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background: url(menu__toggle.png) center center no-repeat;
    text-indent: -10000px;
  }

  @media screen and (min-width: 760px) {

    &__list {
      display: block;
    }

    &__toggle {
      display: none;
    }

  }

}
