.header {

  padding: 0 30px;
  height: 80px;
  background: #fff;

  &__container {
    position: relative;
    margin: 0 auto;
    max-width: 900px;
  }

  &__logo {
    position: absolute;
    top: 15px;
  }

  &__menu {
    position: absolute;
    top: 25px;
    right: 0;
  }

}
